<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="/layouts/dashboard::layout(content = ~{::section}, title = 'Profile - Social', menuLevel1 = 'profile', menuLevel2 = '')">
<body>
<section>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <span class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></span>
                            Profile - Social
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">

        <th:block th:replace="/fragments/dashboard/profile-nav::active(item = 'profile-social')"></th:block>

        <hr class="mt-0 mb-4">

        <div class="row">
            <div class="col-md-4">
                <th:block th:replace="/fragments/dashboard/profile-left" />
            </div>
            <div class="col-md-8">
                <th:block th:replace="/fragments/dashboard/notifier" />

                <div class="card shadow mb-4" id="socialAccount">
                    <div class="card-header py-3">Social Accounts</div>
                    <div class="card-body">
                        <th:block th:each="userSocialAccount, loop : ${authUser.userSocialAccounts}">
                            <form th:action="@{/dashboard/profile/social/{id}/update(id=${userSocialAccount.id})}" method="POST">
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6 gx-3 mb-3">
                                        <label class="mb-1" th:for="${'social_account_id' + loop.index}">Social Account</label>
                                        <select th:id="${'social_account_id' + loop.index}" th:name="social_account_id" class="form-control" aria-label="select" required>
                                            <option value="" selected>Select Social Account</option>
                                            <option th:each="socialAccount : ${socialAccounts}" th:value="${socialAccount.id}" th:text="${socialAccount.name}" th:selected="${userSocialAccount.socialAccount.id == socialAccount.id}"></option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 gx-3 mb-3">
                                        <label class="mb-1" th:for="${'username' + loop.index}">Username</label>
                                        <input th:id="${'username' + loop.index}" th:name="username" class="form-control" type="text" placeholder="Enter username" th:value="${userSocialAccount.username}" required>
                                    </div>

                                    <div class="col-12">
                                        <div class="float-right">
                                            <a  class="btn btn-danger" th:onclick="'destroy(\'social-account-destroy' + ${loop.index} + '\')'">Remove</a>
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <form th:id="${'social-account-destroy' + loop.index}" th:action="@{/dashboard/profile/social/{id}/destroy(id=${userSocialAccount.id})}" method="POST"></form>
                        </th:block>

                        <div class="d-block text-center">
                            <button id="add-btn" class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
                        </div>

                        <form id="add-form" class="d-none" th:action="@{/dashboard/profile/social/store}" method="POST">
                            <hr>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="mb-1" for="social_account_id">Social Account</label>
                                    <select id="social_account_id" th:name="social_account_id" class="form-control" aria-label="select" required>
                                        <option value="" selected>Select Social Account</option>
                                        <option th:each="socialAccount : ${socialAccounts}" th:value="${socialAccount.id}" th:text="${socialAccount.name}"></option>
                                    </select>
                                </div>
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="mb-1" for="username">Username</label>
                                    <input id="username" th:name="username" class="form-control" type="text" placeholder="Enter username" required>
                                </div>

                                <div class="col-12">
                                    <div class="float-right">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const destroy = (formId) => {
            document.getElementById(formId).submit();
        }
    </script>

</section>
</body>

</html>