<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="/layouts/dashboard::layout(content = ~{::section}, title = 'Social Account List', menuLevel1 = 'social-account', menuLevel2 = '')">
<body>
<section>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <span class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></span>
                            Social Account
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mb-3">
                        <a class="btn btn-sm btn-light text-primary" th:href="@{/dashboard/cms/social-account/create}">
                            <i class="fas fa-plus-square"></i> Add New Social Account
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">

        <th:block th:replace="/fragments/dashboard/notifier" />

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Social Account List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <th:block th:replace="/fragments/dashboard/table::header(${socialAccounts})"></th:block>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable no-footer" style="width: 100%;">
                                    <thead>
                                    <tr role="row">
                                        <th class="serial-head sorting" id="id">SN</th>
                                        <th class="sorting" id="name">Name</th>
                                        <th class="sorting" id="icon">Icon</th>
                                        <th class="sorting" id="url">URL</th>
                                        <th class="sorting" id="createdAt">Created At</th>
                                        <th class="sorting" id="updatedAt">Updated At</th>
                                        <th class="action">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="socialAccount, loop : ${socialAccounts}" th:classappend="${loop.odd ? 'odd' : 'even'}">
                                        <th scope="row" class="serial" th:text="${loop.index + 1}"></th>
                                        <td th:text="${socialAccount.name}"></td>
                                        <td>
                                            <i th:classappend="${socialAccount.icon}"></i> <span th:text="${socialAccount.icon}"></span>
                                        </td>
                                        <td th:text="${socialAccount.url}"></td>
                                        <td th:text="${socialAccount.createdAt}"></td>
                                        <td th:text="${socialAccount.updatedAt}"></td>
                                        <td class="action">
                                            <a th:href="@{/dashboard/cms/socialAccount/{id}(id=${socialAccount.id})}" class="btn btn-datatable btn-icon btn-transparent-dark me-2">
                                                <i class="fas fa-solid fa-eye"></i>
                                            </a>
                                            <a th:href="@{/dashboard/cms/socialAccount/{id}/edit(id=${socialAccount.id})}" class="btn btn-datatable btn-icon btn-transparent-dark me-2">
                                                <i class="fas fa-solid fa-pen text-primary"></i>
                                            </a>
                                            <form th:action="@{/dashboard/cms/socialAccount/{id}/destroy(id=${socialAccount.id})}" method="POST" style="all: unset">
                                                <button type="submit" class="btn btn-datatable btn-icon btn-transparent-dark">
                                                    <i class="fas fa-regular fa-trash text-danger"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <th:block th:replace="/fragments/dashboard/table::pagination(${socialAccounts}, '/dashboard/cms/socialAccount')"></th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/backend/js/dt-sorting.js}"></script>

</section>
</body>

</html>